.CardItem{
  width: 400px;
  height: 500px;
  padding: 5px;
  margin: 2px;
  border:5px solid rgb(19, 126, 168) ;
  border-radius: 10px;
  color: rgb(107, 15, 134);
  text-align: center;
  background-color: rgba(240, 248, 255, 0.733);
  display: grid;
  grid-row: 0.2fr 2.4fr 0.4 ;
  gap:0px 0px;
  grid-template-areas:  "ItemHeader "
  "ItemImg "
  "ItemFooter ";
}

.ItemHeader{grid-area: ItemHeader;
align-items: center;
}





.ItemImg{
  grid-area: ItemImg;
  width:100%;
  height: auto;
  
}
.ItemPic{
  width: 250px;
  height: 320px;
  border-radius: 5px;
}

.ItemFooter{ 
  grid-area: ItemFooter;
  text-align: center;
}

.Info{
  text-align: center;
}

.OptionB{
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.507);
  color: azure;
  font-size:larger;
  border-radius: 5px;

}


@media (max-width:600px){
  .CardItem{
    width: 200px;
    height: 250px;
    border:2px solid rgb(19, 126, 168) ;
    border-radius: 10px;
    color: rgb(107, 15, 134);
    text-align: center;
    background-color: rgba(240, 248, 255, 0.733);
    display: grid;
    grid-row: 0.2fr 2.4fr 0.4 ;
    gap:0px 0px;
    grid-template-areas:  "ItemHeader "
    "ItemImg "
    "ItemFooter ";
  }
  
  .ItemHeader{grid-area: ItemHeader;
  align-items: center;
  font-size: small;
  }
  
  
  
  
  
  .ItemImg{
    grid-area: ItemImg;
    width:100%;
    height: auto;
    
  }
  .ItemPic{
    width: 140px;
    height: 150px;
    border-radius: 5px;
  }
  
  .ItemFooter{ 
    grid-area: ItemFooter;
    text-align: center;
  }
}

@media (max-width:840px)and (min-width:601px) {
  .CardItem{
 margin-left: 15%;
  }
}

@media (max-width:450px){
  .CardItem{
    margin-left: 15%;
  }
}