.Lista{
    padding-top:2rem ;
    display: flex;
    flex-wrap: wrap;
    align-content:normal;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    width:auto;
    height: auto;  
  }
  
  
@media(max-width:816px)and(min-width:500px){
  .Lista{
    display:block;
    text-align: center;
  }

 
}